body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration:none;
}



#map {
    height: 400px;
    background: #58B;
}

	@keyframes poping {
					0%   {
						  transform: scale(1.0, 1.0)
						  translate(0%, 0%); 
						 }
					25%  { 
							transform: scale(1.0, 1.0)
							 translate(0%, 0%); 
						 }
					40%  { 
							transform: scale(1.2, 0.8)
							translate(0%, 15%); 
						 }
					50%  { 
							transform: scale(1.0, 1.0) 
							translate(0%, 0%); 
						 }
					60%  { 
							transform: scale(0.9, 1.2) 
							translate(0%, -100%); 
						 }
					75%  { 
							transform: scale(0.9, 1.2) 
							translate(0%, -60%); 
						}
					85%  { 
							transform: scale(1.5, 0.8) 
							translate(0%, 15%); 
						 }
					100% { 
							transform: scale(1.0, 1.0) 
							translate(0%, 0%); 
						 }
				}
        #floatBarsG{
          position:relative;
          width:186px;
          height:22px;
          margin:0 -50px;
        }
        
        .floatBarsG{
          position:absolute;
          top:0;
          background-color:rgba(47,116,181,0.97);
          width:22px;
          height:22px;
          animation-name:bounce_floatBarsG;
            -o-animation-name:bounce_floatBarsG;
            -ms-animation-name:bounce_floatBarsG;
            -webkit-animation-name:bounce_floatBarsG;
            -moz-animation-name:bounce_floatBarsG;
          animation-duration:1.235s;
            -o-animation-duration:1.235s;
            -ms-animation-duration:1.235s;
            -webkit-animation-duration:1.235s;
            -moz-animation-duration:1.235s;
          animation-iteration-count:infinite;
            -o-animation-iteration-count:infinite;
            -ms-animation-iteration-count:infinite;
            -webkit-animation-iteration-count:infinite;
            -moz-animation-iteration-count:infinite;
          animation-direction:normal;
            -o-animation-direction:normal;
            -ms-animation-direction:normal;
            -webkit-animation-direction:normal;
            -moz-animation-direction:normal;
          transform:scale(.3);
            -o-transform:scale(.3);
            -ms-transform:scale(.3);
            -webkit-transform:scale(.3);
            -moz-transform:scale(.3);
        }
        
        #floatBarsG_1{
          left:0;
          animation-delay:0.496s;
            -o-animation-delay:0.496s;
            -ms-animation-delay:0.496s;
            -webkit-animation-delay:0.496s;
            -moz-animation-delay:0.496s;
        }
        
        #floatBarsG_2{
          left:23px;
          animation-delay:0.6125s;
            -o-animation-delay:0.6125s;
            -ms-animation-delay:0.6125s;
            -webkit-animation-delay:0.6125s;
            -moz-animation-delay:0.6125s;
        }
        
        #floatBarsG_3{
          left:46px;
          animation-delay:0.739s;
            -o-animation-delay:0.739s;
            -ms-animation-delay:0.739s;
            -webkit-animation-delay:0.739s;
            -moz-animation-delay:0.739s;
        }
        
        #floatBarsG_4{
          left:70px;
          animation-delay:0.8655s;
            -o-animation-delay:0.8655s;
            -ms-animation-delay:0.8655s;
            -webkit-animation-delay:0.8655s;
            -moz-animation-delay:0.8655s;
        }
        
        #floatBarsG_5{
          left:93px;
          animation-delay:0.992s;
            -o-animation-delay:0.992s;
            -ms-animation-delay:0.992s;
            -webkit-animation-delay:0.992s;
            -moz-animation-delay:0.992s;
        }
        
        #floatBarsG_6{
          left:116px;
          animation-delay:1.1085s;
            -o-animation-delay:1.1085s;
            -ms-animation-delay:1.1085s;
            -webkit-animation-delay:1.1085s;
            -moz-animation-delay:1.1085s;
        }
        
        #floatBarsG_7{
          left:139px;
          animation-delay:1.235s;
            -o-animation-delay:1.235s;
            -ms-animation-delay:1.235s;
            -webkit-animation-delay:1.235s;
            -moz-animation-delay:1.235s;
        }
        
        #floatBarsG_8{
          left:163px;
          animation-delay:1.3615s;
            -o-animation-delay:1.3615s;
            -ms-animation-delay:1.3615s;
            -webkit-animation-delay:1.3615s;
            -moz-animation-delay:1.3615s;
        }
        
        
        
        @keyframes bounce_floatBarsG{
          0%{
            transform:scale(1);
            background-color:rgb(92,140,242);
          }
        
          100%{
            transform:scale(.3);
            background-color:rgb(255,255,255);
          }
        }
        
        @-o-keyframes bounce_floatBarsG{
          0%{
            -o-transform:scale(1);
            background-color:rgb(92,140,242);
          }
        
          100%{
            -o-transform:scale(.3);
            background-color:rgb(255,255,255);
          }
        }
        
        @-ms-keyframes bounce_floatBarsG{
          0%{
            -ms-transform:scale(1);
            background-color:rgb(92,140,242);
          }
        
          100%{
            -ms-transform:scale(.3);
            background-color:rgb(255,255,255);
          }
        }
        
        @-webkit-keyframes bounce_floatBarsG{
          0%{
            -webkit-transform:scale(1);
            background-color:rgb(92,140,242);
          }
        
          100%{
            -webkit-transform:scale(.3);
            background-color:rgb(255,255,255);
          }
        }
        
        @-moz-keyframes bounce_floatBarsG{
          0%{
            -moz-transform:scale(1);
            background-color:rgb(92,140,242);
          }
        
          100%{
            -moz-transform:scale(.3);
            background-color:rgb(255,255,255);
          }
        }

.mui-input {
  background-color: white;
}

.side-bar {
  height: 200px !important;
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  border-radius: 0;
  border-color: rgba(64, 194, 133, 0.693);
  background-color: rgb(255, 255, 255);
  transition: 0.8s ease;
}

.toggle-menu {
  height: 50px;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 9rem;
  width: 10px;
  position: absolute;
  outline: none;
  z-index: 1;
  
  border-color: "black";
  border-left: 0;
}


.taskCardsArea {
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 450px;
  background-color: rgb(220,220,220);
}



.taskCard {
  position: relative;
  width: 250px;
  padding: 10px 25px;
  margin: 10px 1%;
  background-color: ivory;
  border-radius: 5px;
}

.taskCardTitleInputArea {
  margin-bottom: 10px;
  width: 30%;
  cursor: pointer;
}

.taskCardTitleInput {
  width: 80px;
  font-size: 1.1rem;
  padding: 4px 6px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskAddInput {
  width: 100%;
  margin-top: 20px;
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskContent {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  padding:  8px;
  margin-top: 10px;
  border-radius: 5px;
}

.taskText {
  margin-left: 12px;
}

.taskTrashButton {
  cursor: pointer;
  margin-right: 9px;
  border: none;
}

.addTask {
  padding: 10px 12px;
  background-color: white;
  box-shadow: 2px 2px 2px;
  border-radius: 1000px;
  transition-duration: .3s;
}

.addTask:hover {
  box-shadow: 0 0 0;
  transform: translate(2px, 2px);
}
